USE [master]
GO
/****** Object:  Database [VehicleInsuranceDB]    Script Date: 04-03-2026 12:36:36 ******/
CREATE DATABASE [VehicleInsuranceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleInsuranceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehicleInsuranceDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleInsuranceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehicleInsuranceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleInsuranceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleInsuranceDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[UserId] [int] NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[EntityName] [nvarchar](max) NULL,
	[EntityId] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocuments]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[Document2] [nvarchar](max) NOT NULL,
	[Document1] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ClaimDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimNumber] [nvarchar](450) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ClaimsOfficerId] [int] NULL,
	[Status] [int] NOT NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[claimType] [int] NOT NULL,
	[DecisionType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[TransactionReference] [nvarchar](max) NULL,
	[PaymentMethod] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[PolicyId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](450) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NULL,
	[VehicleId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[IDV] [decimal](18, 2) NOT NULL,
	[InvoiceAmount] [decimal](18, 2) NOT NULL,
	[CancellationDate] [datetime2](7) NULL,
	[CurrentYearEndDate] [datetime2](7) NOT NULL,
	[CurrentYearNumber] [int] NOT NULL,
	[IsCurrentYearPaid] [bit] NOT NULL,
	[IsRenewed] [bit] NOT NULL,
	[SelectedYears] [int] NOT NULL,
	[InitialKilometersDriven] [int] NOT NULL,
	[ClaimCount] [int] NOT NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyPlans]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyPlans](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[PolicyType] [nvarchar](max) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[MaxCoverageAmount] [decimal](18, 2) NULL,
	[PolicyDurationMonths] [int] NOT NULL,
	[ApplicableVehicleType] [nvarchar](max) NOT NULL,
	[CoversOwnDamage] [bit] NOT NULL,
	[CoversTheft] [bit] NOT NULL,
	[CoversThirdParty] [bit] NOT NULL,
	[DeductibleAmount] [decimal](18, 2) NOT NULL,
	[EngineProtectionAvailable] [bit] NOT NULL,
	[RoadsideAssistanceAvailable] [bit] NOT NULL,
	[ZeroDepreciationAvailable] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PolicyPlans] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyTransfers]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyTransfers](
	[PolicyTransferId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[SenderCustomerId] [int] NOT NULL,
	[RecipientCustomerId] [int] NOT NULL,
	[NewVehicleApplicationId] [int] NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_PolicyTransfers] PRIMARY KEY CLUSTERED 
(
	[PolicyTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SecurityAnswerHash] [nvarchar](max) NULL,
	[SecurityQuestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleApplications]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleApplications](
	[VehicleApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AssignedAgentId] [int] NULL,
	[RegistrationNumber] [nvarchar](max) NOT NULL,
	[Make] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[FuelType] [nvarchar](max) NOT NULL,
	[VehicleType] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PlanId] [int] NOT NULL,
	[KilometersDriven] [int] NOT NULL,
	[PolicyYears] [int] NOT NULL,
	[InvoiceAmount] [decimal](18, 2) NOT NULL,
	[IsTransfer] [bit] NOT NULL,
 CONSTRAINT [PK_VehicleApplications] PRIMARY KEY CLUSTERED 
(
	[VehicleApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleDocuments]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleApplicationId] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VehicleDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 04-03-2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[RegistrationNumber] [nvarchar](450) NOT NULL,
	[Make] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[FuelType] [nvarchar](max) NOT NULL,
	[VehicleType] [nvarchar](max) NOT NULL,
	[VehicleApplicationId] [int] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ClaimDocuments_ClaimId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_ClaimDocuments_ClaimId] ON [dbo].[ClaimDocuments]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Claims_ClaimNumber]    Script Date: 04-03-2026 12:36:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Claims_ClaimNumber] ON [dbo].[Claims]
(
	[ClaimNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_ClaimsOfficerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ClaimsOfficerId] ON [dbo].[Claims]
(
	[ClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_CustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_CustomerId] ON [dbo].[Claims]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyId] ON [dbo].[Claims]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PolicyId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyId] ON [dbo].[Payments]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_AgentId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_AgentId] ON [dbo].[Policies]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_CustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_CustomerId] ON [dbo].[Policies]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_PlanId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_PlanId] ON [dbo].[Policies]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_PolicyNumber]    Script Date: 04-03-2026 12:36:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Policies_PolicyNumber] ON [dbo].[Policies]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_VehicleId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_VehicleId] ON [dbo].[Policies]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyTransfers_NewVehicleApplicationId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyTransfers_NewVehicleApplicationId] ON [dbo].[PolicyTransfers]
(
	[NewVehicleApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyTransfers_PolicyId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyTransfers_PolicyId] ON [dbo].[PolicyTransfers]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyTransfers_RecipientCustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyTransfers_RecipientCustomerId] ON [dbo].[PolicyTransfers]
(
	[RecipientCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyTransfers_SenderCustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyTransfers_SenderCustomerId] ON [dbo].[PolicyTransfers]
(
	[SenderCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 04-03-2026 12:36:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleApplications_AssignedAgentId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleApplications_AssignedAgentId] ON [dbo].[VehicleApplications]
(
	[AssignedAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleApplications_CustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleApplications_CustomerId] ON [dbo].[VehicleApplications]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleApplications_PlanId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleApplications_PlanId] ON [dbo].[VehicleApplications]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleDocuments_VehicleApplicationId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleDocuments_VehicleApplicationId] ON [dbo].[VehicleDocuments]
(
	[VehicleApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_CustomerId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_CustomerId] ON [dbo].[Vehicles]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_RegistrationNumber]    Script Date: 04-03-2026 12:36:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehicles_RegistrationNumber] ON [dbo].[Vehicles]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_VehicleApplicationId]    Script Date: 04-03-2026 12:36:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehicles_VehicleApplicationId] ON [dbo].[Vehicles]
(
	[VehicleApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClaimDocuments] ADD  DEFAULT (N'') FOR [Document1]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ((0)) FOR [claimType]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [StartDate]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EndDate]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0.0)) FOR [PremiumAmount]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0.0)) FOR [IDV]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0.0)) FOR [InvoiceAmount]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CurrentYearEndDate]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0)) FOR [CurrentYearNumber]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCurrentYearPaid]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRenewed]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0)) FOR [SelectedYears]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0)) FOR [InitialKilometersDriven]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0)) FOR [ClaimCount]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (N'') FOR [ApplicableVehicleType]
GO

GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CoversOwnDamage]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CoversTheft]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CoversThirdParty]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT ((0.0)) FOR [DeductibleAmount]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EngineProtectionAvailable]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [RoadsideAssistanceAvailable]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ZeroDepreciationAvailable]
GO
ALTER TABLE [dbo].[PolicyPlans] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[VehicleApplications] ADD  DEFAULT ((0)) FOR [PlanId]
GO
ALTER TABLE [dbo].[VehicleApplications] ADD  DEFAULT ((0)) FOR [KilometersDriven]
GO
ALTER TABLE [dbo].[VehicleApplications] ADD  DEFAULT ((0)) FOR [PolicyYears]
GO
ALTER TABLE [dbo].[VehicleApplications] ADD  DEFAULT ((0.0)) FOR [InvoiceAmount]
GO
ALTER TABLE [dbo].[VehicleApplications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsTransfer]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [VehicleApplicationId]
GO
ALTER TABLE [dbo].[ClaimDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([ClaimId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimDocuments] CHECK CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([PolicyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_ClaimsOfficerId] FOREIGN KEY([ClaimsOfficerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_ClaimsOfficerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_CustomerId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([PolicyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_PolicyPlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[PolicyPlans] ([PlanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_PolicyPlans_PlanId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_AgentId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_CustomerId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[PolicyTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyTransfers_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([PolicyId])
GO
ALTER TABLE [dbo].[PolicyTransfers] CHECK CONSTRAINT [FK_PolicyTransfers_Policies_PolicyId]
GO
ALTER TABLE [dbo].[PolicyTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyTransfers_Users_RecipientCustomerId] FOREIGN KEY([RecipientCustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PolicyTransfers] CHECK CONSTRAINT [FK_PolicyTransfers_Users_RecipientCustomerId]
GO
ALTER TABLE [dbo].[PolicyTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyTransfers_Users_SenderCustomerId] FOREIGN KEY([SenderCustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PolicyTransfers] CHECK CONSTRAINT [FK_PolicyTransfers_Users_SenderCustomerId]
GO
ALTER TABLE [dbo].[PolicyTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyTransfers_VehicleApplications_NewVehicleApplicationId] FOREIGN KEY([NewVehicleApplicationId])
REFERENCES [dbo].[VehicleApplications] ([VehicleApplicationId])
GO
ALTER TABLE [dbo].[PolicyTransfers] CHECK CONSTRAINT [FK_PolicyTransfers_VehicleApplications_NewVehicleApplicationId]
GO
ALTER TABLE [dbo].[VehicleApplications]  WITH CHECK ADD  CONSTRAINT [FK_VehicleApplications_PolicyPlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[PolicyPlans] ([PlanId])
GO
ALTER TABLE [dbo].[VehicleApplications] CHECK CONSTRAINT [FK_VehicleApplications_PolicyPlans_PlanId]
GO
ALTER TABLE [dbo].[VehicleApplications]  WITH CHECK ADD  CONSTRAINT [FK_VehicleApplications_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VehicleApplications] CHECK CONSTRAINT [FK_VehicleApplications_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[VehicleApplications]  WITH CHECK ADD  CONSTRAINT [FK_VehicleApplications_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VehicleApplications] CHECK CONSTRAINT [FK_VehicleApplications_Users_CustomerId]
GO
ALTER TABLE [dbo].[VehicleDocuments]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDocuments_VehicleApplications_VehicleApplicationId] FOREIGN KEY([VehicleApplicationId])
REFERENCES [dbo].[VehicleApplications] ([VehicleApplicationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleDocuments] CHECK CONSTRAINT [FK_VehicleDocuments_VehicleApplications_VehicleApplicationId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Users_CustomerId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleApplications_VehicleApplicationId] FOREIGN KEY([VehicleApplicationId])
REFERENCES [dbo].[VehicleApplications] ([VehicleApplicationId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleApplications_VehicleApplicationId]
GO
USE [master]
GO
